.parraf {
  color: rgb(165, 165, 165);
  font-weight: 200;
  font-size: 1.05em;
  margin: 30px 0;
}
.tag-small {
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 2.5px;
  margin: 5px;
}

table {
  width: 100%;
  margin: 20px 0;
  th {
    color: rgb(153, 13, 13);;
    padding: 10px 5px;
    text-align: center;
    border-radius: 15px;
    background-color: white;
  }
  tr{
    border-radius: 20px;
    color: white;
    
  }
  td {

    ul {
      margin-top: 10px;
      li {
        padding-top: 2.5px;
      }
    }
  }
}
